[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
[submodule "lvgl"]
	path = lvgl
	url = git@github.com:eagletrt/lvgl.git
	branch = release/8.1
[submodule "can"]
	path = can
	url = git@github.com:eagletrt/can.git
	branch = build
